@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #1E201E;
  --color-contrast: #232323;
  --color-accent: #697565;
  --color-light: #ECDFCC;
  --color-text: #FFFFFF;
}

/* Estilos personalizados */
body {
  @apply bg-background text-text;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-contrast;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-contrast;
}

/* Estilos para impresión (aun no se utiliza) */
@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    @apply bg-text;
  }
  
  .print-only {
    display: block !important;
  }
}